body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  color: #323232;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.disp-block {
  display: block;
}

.page-home input,
.page-catalog input {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  border: 1px solid rgba(178, 178, 178, 0.52);
}

.page-home input:hover,
.page-catalog input:hover {
  border: 2px solid #999999;
}

.page-home input:focus,
.page-catalog input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

::-webkit-input-placeholder {
  font: inherit;
  font-weight: 400;
  color: #999999;
}

:-moz-placeholder {
  font: inherit;
  font-weight: 400;
  color: #999999;
}

:-ms-input-placeholder {
  font: inherit;
  font-weight: 400;
  color: #999999;
}

::placeholder {
  font: inherit;
  font-weight: 400;
  color: #999999;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/*---------------------- Buttons --------------------------*/

.button {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  background-color: #e74a35;
  background-image:    -moz-linear-gradient(to top, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(to top, #e74a35, #f26843);
  background-image:     -ms-linear-gradient(to top, #e74a35, #f26843);
  background-image:         linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover {
  background-image:    -moz-linear-gradient(to top, #ec6f5e, #f58669);
  background-image: -webkit-linear-gradient(to top, #ec6f5e, #f58669);
  background-image:     -ms-linear-gradient(to top, #ec6f5e, #f58669);
  background-image:         linear-gradient(to top, #ec6f5e, #f58669);
}

.button:focus {
  box-shadow: 3px -3px 3px 0 rgba(255, 255, 255, 0.4);
}

.button:active {
  background-image:    -moz-linear-gradient(to bottom, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(to bottom, #e74a35, #f26843);
  background-image:     -ms-linear-gradient(to bottom, #e74a35, #f26843);
  background-image:         linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.button-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.button-link:hover:not(.empty),
.button-link:focus:not(.empty) {
  color: #323232;

  background: #f7f6f3;
}

.button-link.empty:focus {
  color: #323232;
}

.button-link.filled {
  color: #323232;

  background: #f7f6f3;
}

.button-link.filled:focus {
  color: #e84d37;
}

.filters-button {
  box-sizing: border-box;
  width: 144px;
  height: 37px;

  font: inherit;
  color: #ffffff;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.filters-button:hover,
.filters-button:focus {
  color: #323232;

  background: #fbfcfb;
}

.filters-button:active {
  color: #323232;

  background: #ededed;
}

.page-home *:focus,
.page-home *:active,
.page-catalog *:focus,
.page-catalog *:active {
  outline: 0;
}

/*------------------------------------------------------*/

.page-color-wrapper {
  background-color: #849d8f;
  background-image:    -moz-radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);
  background-image: -webkit-radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);
  background-image:     -ms-radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);
  background-image:         radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);

  transition: all 0.5s ease;
}

/* оверлей для верстки. потом удалить*/
/*
.page-home::after {
  content: '';
  background-image: url(../img/gllacy-index.jpg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  height: 1200vh;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  right: 0;
  z-index: 101;
  opacity: 0.4;
  outline: 1px solid blue;
}
*/

/*------------------------- header ------------------*/

.header-nav {
  display: flex;
  align-items: flex-start;
  width: 1146px;
}

.header-logo {
  width: 154px;
  height: 64px;
  padding: 8px 24px 0 0;
}

.main-menu,
.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-nav .main-menu {
  min-width: 425px;

  text-align: left;
}

.main-menu a {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu a:hover,
.main-menu a:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu a:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.header-nav .user-menu {
  min-width: 265px;
  margin-left: auto;

  text-align: right;
}

.submenu,
.modal {
  display: none;
}

.contact-wrapper {
  position: relative;
}

.contact-top {
  position: absolute;
  right: 0;
  bottom: -70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}*

.contact-top .phone {
  font-size: 22px;
  line-height: 24px;
}

.page-home .main {
  margin-top: 0;
}

/* ---------------------- hero slider -------------------------- */

.hero {
  margin: 0;
  padding-top: 12px;
}

.slider {
  position: relative;

  height: 582px;
}

.slider-title {
  position: absolute;
  top: 308px;
  z-index: 1;

  margin: 0;
  margin-top: -200px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  color: #ffffff;
}

.title-1 {
  left: 50%;

  width: 672px;
  margin-left: -336px;
}

.title-2 {
  left: 50%;

  width: 650px;
  margin-left: -325px;
}

.title-3 {
  left: 50%;

  width: 635px;
  margin-left: -317.5px;
}

.slide-button {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  margin-top: 458px;
  margin-left: -140px;
  padding: 9px 41px 11px 42px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 50px;;
}

.slider-title,
.slide-button {
  display: none;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;

  width: 644px;
  margin-left: -322px;

  opacity: 0;
}

.controls {
  position: absolute;
  top: 563px;
  z-index: 10;
}

.controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .page-color-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-color-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-color-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .page-color-wrapper .title-1,
#btn-1:checked ~ .page-color-wrapper .btn-one,
#btn-2:checked ~ .page-color-wrapper .title-2,
#btn-2:checked ~ .page-color-wrapper .btn-two,
#btn-3:checked ~ .page-color-wrapper .title-3,
#btn-3:checked ~ .page-color-wrapper .btn-three {
  display: block;
}

#btn-1:checked ~ .page-color-wrapper .img-1,
#btn-2:checked ~ .page-color-wrapper .img-2,
#btn-3:checked ~ .page-color-wrapper .img-3 {
  opacity: 1;

  transition: all 0.5s ease-in-out;
}

#btn-1:checked ~ .page-color-wrapper .img-2,
#btn-1:checked ~ .page-color-wrapper .img-3,
#btn-2:checked ~ .page-color-wrapper .img-1,
#btn-2:checked ~ .page-color-wrapper .img-3,
#btn-3:checked ~ .page-color-wrapper .img-1,
#btn-3:checked ~ .page-color-wrapper .img-2 {
  opacity: 0;

  transition: all 0.5s ease;
}

#btn-1:checked ~ .page-color-wrapper {
  background-color: #849d8f;
  background-image:    -moz-radial-gradient(530px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);
  background-image: -webkit-radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);
  background-image:     -ms-radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 40%, rgba(207, 246, 225, 0) 100%);
  background-image:         radial-gradient(525px at 50% 12%, rgba(207, 246, 225, 1) 0%, rgba(207, 246, 225, 0.45) 36%, rgba(207, 246, 225, 0) 100%);
}

#btn-2:checked ~ .page-color-wrapper {
  background-color: #8996a6;
  background-image:    -moz-radial-gradient(525px at 50% 12%, rgba(203,222,239,1) 5%,rgba(203,222,239,0.45) 40%,rgba(203,222,239,0) 100%);
  background-image: -webkit-radial-gradient(525px at 50% 12%, rgba(203,222,239,1) 5%,rgba(203,222,239,0.45) 40%,rgba(203,222,239,0) 100%);
  background-image:     -ms-radial-gradient(525px at 50% 12%, rgba(203,222,239,1) 5%,rgba(203,222,239,0.45) 40%,rgba(203,222,239,0) 100%);
  background-image:         radial-gradient(525px at 50% 12%, rgba(203,222,239,1) 5%,rgba(203,222,239,0.45) 36%,rgba(203,222,239,0) 100%);
}

#btn-3:checked ~ .page-color-wrapper {
  background-color: #9d8b84;
  background-image:    -moz-radial-gradient(525px at 50% 12%, rgba(232,211,202,1) 0%,rgba(232,211,202,0.45) 40%,rgba(232,211,202,0) 100%);
  background-image: -webkit-radial-gradient(525px at 50% 12%, rgba(232,211,202,1) 0%,rgba(232,211,202,0.45) 40%,rgba(232,211,202,0) 100%);
  background-image:     -ms-radial-gradient(525px at 50% 12%, rgba(232,211,202,1) 0%,rgba(232,211,202,0.45) 40%,rgba(232,211,202,0) 100%);
  background-image:         radial-gradient(525px at 50% 12%, rgba(232,211,202,1) 0%,rgba(232,211,202,0.45) 36%,rgba(232,211,202,0) 100%);
}

/* ----------------------- .banners ------------------------ */

.banners-wrapper {
  /*  background-color: coral;*/
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 40px;
}

.banners {
  position: relative;

  display: flex;
  width: 560px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banners h2,
.banners p,
.banners .button {
  position: absolute;

  margin: 0;
}

.banners h2 {
  top: 17px;
  left: 20px;

  font-weight: inherit;
  font-size: 35px;
  line-height: 41px;
}

.banners-text {
  top: 73px;
  left: 20px;

  width: 520px;
}

.banners .button {
  top: 160px;
  right: 20px;
}

.banners-img {
  border-radius: 17px;
}

/* ----------------------- .catalog.hits --------------------*/
.catalog {
  margin-bottom: 40px;
}

/* ----------------------- .features -------------------------*/
.features {
  margin-bottom: 40px;
  padding: 25px 20px 4px 20px;

  font: inherit;
  text-align: left;

  background-image: url("../img/pattern-waffer.jpg");
  border-radius: 15px;
}

.features .intro {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  box-sizing: border-box;
  width: 540px;
  margin-bottom: 22px;
  padding-left: 56px;
}

.features p {
  margin: 0;
}

/* ----------------------- .news-block -------------------------*/
.news {
  display: flex;/*  background-color: crimson;*/
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  width: 520px;
  padding: 22px 20px 0 20px;

  text-align: left;

  background-color: #ffffff;
  background-image: url("../img/blog-news-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news p,
.news h2 {
  margin: 0;
}

.blog-news h2 {
  margin-bottom: 5px;

  font: inherit;
  font-weight: 500;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;
}

.news-title {
  display: block;
  width: 279px;
  margin-bottom: 80px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  width: 549px;
  padding: 4px 5px 5px 6px;

  text-align: left;
  color: #5a5a5a;

  background-image: url("../img/subscribe-border.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
}


.subscribe-wrapper {
  padding: 30px 19px 0 21px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe .subscribe-info {
  margin-bottom: 36px;
}

/* ------------------------ .map-block --------------------------*/
.container-map {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.address {
  position: absolute;

  font-size: 14px;
  line-height: 20px;

  background-color: #ffffff;
}

.major {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

/*========================= .page-catalog =======================*/

.page-catalog .catalog-nav {
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs li {
  margin-right: 7px;
}

.breadcrumbs a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  color: #ffffff;
}

/* ---------------------- .filters --------------------- */

.filters {
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-type {
  margin: 0;

  border: none;
}

.sorting {
  flex-shrink: 0;
  width: 194px;
  padding-left: 0;
}

.price {
  flex-shrink: 0;
  width: 220px;
  padding: 5.6px 12px 10px 12px;
}

.price .filter-wrap {
  margin-top: 5.6px;
}

.fat {
  flex-shrink: 0;
  width: 415px;
}

.filling {
  flex-shrink: 0;
  width: 703px;
  padding-left: 0;
}

.filter-type legend,
.filter-type .legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.filter-wrap {
  height: 37px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.filters-button {
  margin-bottom: 10px;
}

/*------------------- .catalog ---------------------------*/

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
  color: #ffffff;
}

.catalog-list h3,
.catalog-list p {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 267px;
}

.catalog-list .title-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-list .title-link:hover,
.catalog-list .title-link:focus,
.catalog-list .title-link:active {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.catalog-img {
  border-radius: 50%;
}

.catalog-item h3 {
  order: 1;
  width: 258px;
}

.item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.item-price span {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

/* -------------------- .pagination -------------------- */

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.pagination-item {
  margin-left: 5px;
}

.pagination-list a {
  display: block;
  padding: 4px 8px 3px 8px;

  color: #ffffff;

  border-radius: 50%;
}

.pagination-list a:hover:not(.enabled),
.pagination-list a:focus {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
  color: #323232;

  background: #ffffff;
}

.pagination-item .disabled {
  padding: 7px 8px 7px 0;

  pointer-events: none;
}

.pagination-item .current {
  color: #323232;

  background: #ffffff;

  pointer-events: none;
}

.pagination-item  .enabled {
  padding: 7px 0 7px 8px;
}

.next .enabled:focus {
  padding: 6px 0 3px 3px;

  background-color: transparent;
}

.disabled span {
  display: block;
  width: 7px;
  height: 7px;

  background-color: transparent;
  border-bottom: 1.4px solid rgba(255, 255, 255, 0.2);
  border-left: 1.4px solid rgba(255, 255, 255, 0.2);
  transform: -ms-rotate(45deg);
  transform:     rotate(45deg);
}

.enabled span {
  display: block;
  width: 7px;
  height: 7px;

  background-color: transparent;
  border-top: 1.4px solid #ffffff;
  border-right: 1.4px solid #ffffff;
  transform: -ms-rotate(45deg);
  transform:     rotate(45deg);
}

.enabled:focus span {
  width: 12px;
  height: 12px;

  background-color: transparent;
}

/* ----------------------- .footer ------------------------ */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  font-size: 12px;
  color: #ffffff;
}

.footer-social,
.footer-menu {
  list-style: none;
}

.footer a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .social-button,
.footer .copyright-logo {
  border-bottom: none;
}

.footer a:hover:not(.social-button),
.footer a:focus:not(.social-button),
.footer a:active:not(.social-button) {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}
